body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(178, 178, 221);
    text-decoration: double;text-align: center;
    margin: 0 auto;
}
.coursePrice{
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color:rgb(100, 116, 116);
    border-radius: 20px;
}

.coursePrice label{
    display: block;
    margin-bottom: 10px;
}



